.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 4rem;
}

.nav-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(24, 0, 0, 0.717);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-btn {
  flex: 5;
  display: flex;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.9rem;
  border: 2px solid #8d8d8d52;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparents:hover {
  background: #fff;
  height: 100vh;
  color: black;
}

.btn.transparents,
.btn.btn.solid:hover {
  background: transparent;
  color: black;
}

/* menu  */
.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 4rem;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  color: #fff;
  padding: 0 0.2rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  display: flex;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.nav-link > a > i {
  margin-left: 2.1rem;
}

/* dropdown menu */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 17rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  transform: translateY(16px);
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;

  color: #fff;
  padding: 0.1rem 1rem;
  font-size: 1rem;
  align-items: center;
  transition: 0.3s;
  background: rgba(43, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown-link a:hover {
  background: #fff;
  color: black;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #efefef;
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #f3f8f9;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background: #fff;
}

.nav-link:hover > .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0);
}

/* resmonsive mobile layout designe  */

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

@media (max-width: 1024px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: flex;
    position: absolute;
    right: 0;
  }

  .nav-btn {
    position: fixed;
    height: 93vh;
    top: 4rem;
    left: 0;
    width: 100%;
    background: rgba(250, 248, 248, 0.97);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: hidden;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 95%;
  }

  .nav-links > ul {
    flex-direction: column;
    gap: 0px;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }
  
  .nav-link > a {
    line-height: 1;
    padding: 0.7rem 2rem;
    color: black;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #04b3fa;
    color: #fff;
  }

  .dropdown {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #0398d3;
    display: none;
  }

  .nav-link:hover > .dropdown {
    display: block;
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 0 3rem;
    height: 2.2rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #04b3fa;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: rgb(0, 92, 128);
  }

  .dropdown .arrow {
    display: none;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: rgb(0, 119, 128);
  }

  .dropdown-link:hover > a {
    background-color: #04b3fa;
  }

  .log-sign {
    width: 100%;
    display: flex;
    flex: 7;
    background-color: rgb(0, 57, 69);
    opacity: 0;
    transform: translateY(15px);
  }
}
