/* react tabs css  */
.swiper-pagination-fraction {
  display: none;
}


.react-tabs__tab {
  font-size: 18px;
  height: 45px;
  background: transparent !important;
  width: 150px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px !important;
  color: #ffff !important;
  margin-right: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(254, 254, 254, 0.225) !important;
}

.react-tabs__tab--selected {
  height: 45px;
  width: 150px;
  font-size: 18px;
  background: linear-gradient(90deg, #31F6FC, #0AA2C8) !important;
  color: #fff !important;
  border: transparent !important;
}

/* .react-tabs__tab-list {
  border: transparent !important;
  width: 100%;
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  border-radius: 5px !important;
  background: rgba(0, 89, 255, 0.106);
} */